.form__input {
  width: 100%;
  display: block;
  height: 27.26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding-bottom: 13.26px;
}
.form__input-title {
  margin-bottom: 29.74px;
}
.form__input-description {
  /* margin-bottom: 48px; */
}
.form__input_type_error{ 
   border-bottom:1px solid red; 
}
.modal__form_label{ 
  position:relative; 
  margin-bottom:30px; 

}

@media screen and (max-width: 550px) {
  .form__input {
    height: 27px;
  }
  .form__input-title {
    margin-bottom: 30px;
    padding-bottom:0px; 
  }
  .form__input-description {
    margin-bottom: 46px;
    padding-bottom:0px; 

  }
}
